*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

.cart-container{
    width: 340px;
    margin: 24px auto;
}
.cart-container-head{
    display: flex;
    flex-direction: row;
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
}
.cart-container-head-img,
.cart-container-head-name,
.cart-container-head-amount,
.cart-container-head-total{
    width: 80px;
}

.cart-container-head-img{
    width: 80px;
}


.item{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding: 16px 0;
    border-bottom: 1px solid rgba(128, 128, 128, 0.185);
}

.item-img,
.item-title,
.item-amount,
.item-total{
    width: 80px;
    font-size: 1.3rem;
}
.delete{
    width: 18px;
    height: 18px;
    color: red;
    text-decoration: none;
    font-size: 1.6rem;
}