

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'Archivo', sans-serif;
}
header{
    margin: 24px 0;
}
.logo-title{
    font-weight: 800;
    font-size: 4rem;
    text-align: center;
}
.navbar{
    margin: 24px auto;
    width: fit-content;
    font-size: 1.6rem;
}
.navbar-menu-li{
    display: inline-block;
    margin: 8px 24px;
}
.navbar-menu-li a{
    width: fit-content;
    text-decoration: none;
    color: black;
    font-weight: 500;
    position: relative;
}

.categories-options-container{
    background: rgb(241, 240, 240);
    width: fit-content;
    position: absolute;
    top: 20px;
    left: 0;
    z-index: 2;
}
.categories-options-arrow{
    width: 24px;
    height: 12px;
    background: rgba(0, 0, 0, 0.057);
    clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
    position: relative;
    top: -12px;
    left: 32px;
}
.categories-options-list{
    padding: 4px;
}
.categories-option{
    list-style: none;
    margin: 8px auto;
    cursor: pointer;
    padding-bottom: 4px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.196);
}


/* CART CONTAINER */
.cart-container{
    width: 340px;
    margin: 24px auto;
}
.cart-container-head{
    display: flex;
    flex-direction: row;
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
}
.cart-container-head-img,
.cart-container-head-name,
.cart-container-head-amount,
.cart-container-head-total{
    width: 80px;
}
.cart-container-head-img{
    width: 80px;
}
.item{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding: 16px 0;
    border-bottom: 1px solid rgba(128, 128, 128, 0.185);
}
.item-img,
.item-title,
.item-amount,
.item-total{
    width: 80px;
    font-size: 1.3rem;
}
.delete{
    width: 18px;
    height: 18px;
    color: red;
    text-decoration: none;
    font-size: 1.6rem;
}



/* Banner */
.banner{
    width: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 8px auto;
}
.banner-1{
    position: relative;
}
.banner-1-img{
    width: 340px;
}
.banner-2{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.banner-2-img{
    width: 165px;
}

.category-info{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(255, 255, 255, 0.37);
}

.products-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card{
    width: 160px;
    margin: 24px auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid rgba(71, 71, 71, 0.212);
    overflow: hidden;
    border-radius: 8px;
}
.card-figure{
    display: block;
    width: 160px;
}
.card-img{
    width: 160px;
    object-fit: contain;
}
.card-information{
    padding: 8px;
    display: flex;
    flex-direction: column;
}

.card-title{
    font-size: 1.6rem;
    font-weight: 500;
    overflow: hidden;
    margin: 8px 0;
}
.card-description{
    font-size: 1.2rem;
    font-weight: 300;
    margin: 8px 0;
}
.card-price-amount{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 16px 0;
}
.card-cartBtn{
    display: block;
    padding: 8px;
    border-radius: 8px;
    border: none;
}

.pages{
    margin: 24px;
    display: flex;
    justify-content: center;
}
.pages-list{
    display: block;
    margin: 0 auto;
}
.page-number{
    display: inline;
    margin: 0 8px
}

footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: rgba(193, 193, 193, 0.539);
    justify-content: space-between;
}
.footer-menu,.footer-info,.footer-text{
    margin: 24px;
    list-style: none;
}
.footer-menu-li{
    margin: 8px 0;
}
.footer-menu-li a{
    text-decoration: none;
    color: black;
}


.hidden{
    display: none;
}